header {
	border-bottom: 1px solid #e2e2e2;
}
header .container {
	max-width: 1024px;
	margin: 0 auto;
}
header .flex {
	display: flex;
	flex-flow: nowrap row;
	justify-content: space-between;
}
header ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: wrap row;
}
header ul li {}
header ul li a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1rem;
    display: block;
    color: #333;
}
header ul li a:hover {
	color: red;
}